<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZdiVY6O_7e0FL_l8IzhHlJYuG_P-PMmg</string>
	<key>GCM_SENDER_ID</key>
	<string>114484446559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.namerApp</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-f5f3f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-f5f3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114484446559:ios:fa50776cc612a48582e2ea</string>
</dict>
</plist>